@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,400;1,700&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cinzel&family=Didact+Gothic&display=swap');

body {
  font-family: 'Amiri', serif;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-family: 'Cinzel', serif;
  font-family: 'Didact Gothic', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: -.003em;
  margin: 0%;
  margin-top: 0px;
  display: grid;
  place-items: center;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 350%;
  font-weight: 800;
  text-align: center;
  margin: 0
}

#story {
  color: rgb(0, 0, 0);
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 300%;
  font-weight: 800;
  padding: 5% 5% 0 5%;
  text-align: left;
  line-height: 90%;
}

h2 {
  color: rgb(0, 0, 0);
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 200%;
  text-align: left;
  margin: 0;
  padding: 5% 5% 0 5%;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 150%;
  font-weight: 200;
  padding: 5% 5% 0 5%;
  text-align: center;
  margin: 0
}

#storyh3 {
  color: rgb(113, 113, 113);
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 150%;
  font-weight: 200;
  padding: 5%;
  text-align: left;
  margin-top: -10px;
  margin-bottom: -20px;
}

h5 {
  margin: 0
}

p {
  color: rgb(41, 41, 41);
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 5% 5% 0 5%;
}

#normalcopylink a {
  text-decoration: none;
  color: inherit;
}

#listtext {
  margin: 10px;
}

#listtext li {
  margin-top: 10px;
}

#footer {
  color: rgb(255, 255, 255);
  font-size: 70%;
}

#middleimage {
  margin-top: 5%;
}

.header_box {
  background: rgb(142, 49, 174);
  background: linear-gradient(174deg, rgb(120, 20, 197) 0%, rgb(3, 24, 50) 100%);
  display: grid;
  width: 100%;
  margin: 0%;
  margin-top: 0px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  display: inline-block;
  padding: 1.5em;
}

.navbar img {
  text-decoration: none;
  display: inline-block;
}

.footer_box {
  background: rgb(0, 0, 0);
  display: grid;
  place-items: center;
  width: 100%;
  padding-bottom: 5%;
}

a:link {
  color: #06A7BD;
}

a:visited {
  color: #06A7BD;
}

a:hover {
  color: #085BBC;
}

#nav a {
  color: #ffe4a1;
  text-decoration: underline;
}

#nav a:hover {
  color: #adb1b5;
}

#tw:hover {
  mix-blend-mode: screen;
}

.byline ul {
  margin-top: -10px;
  margin-left: 5%;
  padding-left: 0;
  list-style: none;
}

.byline li {
  display: inline-block;
  color: #8E31AE;
  margin-right: 5%;
}

.author-info {
  display: flex;
  background-color: #e4e4e4;
  color: #FFFFFF;
  margin: 5%;
  border-radius: 20px;
}

.author-info p {
  color: #5d5d5d;
  font-size: .8em;
  padding: 5%;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
}

.author {
  width: 15%;
  margin-left: 2%;
  padding-top: 12px;
  padding-bottom: 12px;
}

#normalcopylink {
  width: 90%;
}

.buttons ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
  padding-left: 0;
  list-style: none;

}

.buttons li {
  color: #06A7BD;
  list-style: none;
  display: inline-block;
  font-weight: 600;
  background-color: #FFFFFF;
  border: 2px solid #06A7BD;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  width: auto;
}

.buttons li:hover {
  color: #fff;
  background-color: #06A7BD;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: grid;
  grid-template-columns: 100%;
  width: clamp(15rem, calc(15rem + 2vw), 22rem);
  overflow: hidden;
  margin-top: 5%;
  margin-bottom: 10%;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: .5em;
  background: #ebebeb;
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.card__body h2 {
  font-size: 150%;
}

.sidebarlinks li {
  list-style-type: none;
  margin-left: -20px;
}

.smwrapper {
  margin-left: 5%;
  margin-bottom: -5%;
}

.smwrapper p {
  margin-left: -5%;
}

.smwrapper .icon {
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  color: #085BBC;
}

a.icon.facebook {
  padding-right: 0;
  width: 20px;
}

a.icon.twitter {
  padding-right: 0;
  width: 30px;
}

a.icon.linkedin {
  padding-right: 0;
  width: 20px;
}

.smwrapper .tooltip {
  position: absolute;
  opacity: 0;
}

.smwrapper .facebook:hover,
.smwrapper .facebook:hover .tooltip,
.smwrapper .facebook:hover .tooltip::before {
  color: #06A7BD;
}

.smwrapper .twitter:hover,
.smwrapper .twitter:hover .tooltip,
.smwrapper .twitter:hover .tooltip::before {
  color: #06A7BD;
}

.smwrapper .linkedin:hover,
.smwrapper .linkedin:hover .tooltip,
.smwrapper .linkedin:hover .tooltip::before {
  color: #06A7BD;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: auto;
  gap: 2rem;
  margin: 0%;
  justify-items: center;
  grid-template-areas:
    "hd"
    "main"
    "sd"
    "ft";
}

.story_container {
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
}

.sidearea {
  display: grid;
  grid-template-columns: 100%;
}

.story_container {
  grid-area: main;
}

.sidearea {
  grid-area: sd;
}


@media(min-width: 850px) {
  .container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    gap: 1rem;
    margin: 0%;
    margin-top: 3%;
    grid-template-areas:
      "hd hd"
      "main sd"
      "ft ft";
    justify-items: left;
  }

  .sidearea {
    margin-left: 15%;
  }

  img {
    max-width: 100%;
    border-radius: 1em;
    margin-left: 5%;
    display: block;
    object-fit: cover;
  }

  .sidebarlinks {
    margin-top: 30px;
  }
}