/* add your CSS here */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: #fbefe0;
    width: 500px;
    padding: 0 20px;
    border-radius: 20px;
    border: .5px solid #7e766d;
}

body {
    color: #045986;
    font: .85em Prompt, sans-serif;
}

h1 {
    color: #7e274b;
    font: bold 4em Prompt, sans-serif;
    margin: 5px 0;
}

.image {
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
}

.description {
    padding: 15px;
    border-radius: 20px;
    background-color: #fffcf9;
    border: .5px solid #e3dacf;
    margin-bottom: 20px;
    ;
}

.description ul {
    padding: 0%;
    list-style-type: none;
}

#italics {
    font-style: italic;
}

span {
    font-weight: 800;
    color: #7e274b;
}